In [1]:
import pandas as pd

In [4]:
country_year = pd.read_excel("Country-Year_Total Units.xlsx")
model_master = pd.read_excel("Model_master.xlsx")

In [5]:
country_year["key"] = 1
model_master["key"] = 1

sku_table = country_year.merge(model_master, on="key").drop("key", axis=1)

In [9]:
sku_table["Units_Model"] = (
    sku_table["Total Units"] * sku_table["Share(MP)"]
).round(0)

In [10]:
sku_table["Revenue_Model"] = (
    sku_table["Units_Model"] * sku_table["Price_EUR"]
)

In [12]:
sku_table["Units_Model"] = (
    sku_table.groupby(["Country", "Year"])
    .apply(lambda x: (x["Total Units"].iloc[0] * x["Share(MP)"]).round(0))
    .reset_index(level=[0,1], drop=True)
)

C:\Users\schaubey8\AppData\Local\Temp\ipykernel_11524\1598134545.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: (x["Total Units"].iloc[0] * x["Share(MP)"]).round(0))

In [13]:
sku_table

,Country,Year,Total Units,Model,Share(MP),Price_EUR,Units_Model,Revenue_Model
0,Belgium,2027,2948,F10,0.17,360,501.0,180360.0
1,Belgium,2027,2948,K10,0.13,360,383.0,137880.0
2,Belgium,2027,2948,S10,0.10,360,295.0,106200.0
3,Belgium,2027,2948,W10,0.09,360,265.0,95400.0
4,Belgium,2027,2948,F20,0.08,480,236.0,113280.0
...,...,...,...,...,...,...,...,...
4635,NaN,2034,1361,K50,0.02,720,NaN,19440.0
4636,NaN,2034,1361,L50,0.01,720,NaN,10080.0
4637,NaN,2034,1361,S50,0.01,720,NaN,10080.0
4638,NaN,2034,1361,W50,0.01,720,NaN,10080.0
4639,NaN,2034,1361,X50,0.01,720,NaN,10080.0

In [14]:
import os
os.getcwd()

'C:\\Users\\schaubey8'

In [17]:
sku_table.to_excel("Annual_SKU_Demand.xlsx", index=False)

In [18]:
os.listdir()

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.local',
 '.matplotlib',
 '.ms-ad',
 '.spyder-py3',
 '.virtual_documents',
 '.vscode',
 '5.1updated.ipynb',
 '5.3updated.ipynb',
 'Americold Canada.xlsx',
 'Americold USA.xlsx',
 'americold_combined.html',
 'americold_combined_with_border.html',
 'Americold_USA & Canada.xlsx',
 'Annual_SKU_Demand.xlsx',
 'AppData',
 'Application Data',
 'canada_map.html',
 'canada_map_panel.html',
 'CASE1_results.xlsx',
 'CASE1_Task5_results.xlsx',
 'CASE1_Task6_results.xlsx',
 'CASE2_results.xlsx',
 'CASE2_Task5_results.xlsx',
 'CASE2_Task6_results.xlsx',
 'CASE3_results.xlsx',
 'CASE3_Task5_results.xlsx',
 'CASE3_Task6_results.xlsx',
 'casework 6 Data Worksheet.xlsx',
 'casework6.ipynb',
 'ClassAssignments.csv',
 'cocoa_import-export.xlsx',
 'Contacts',
 'Cookies',
 'countries_centroids.xlsx',
 'Country-Year_Total Units.xlsx',
 'country_centroids.xlsx',
 'data_final.xlsx',
 'desktop.ini',
 'Documents',
 'Downloads',
 'famosa_demand_analysis.xlsx',
 'Favorites',
 'files',
 'gurobi.lic',
 'gurobi.log',
 'hourly_combined_a_demand.xlsx',
 'hourly_combined_b_demand.xlsx',
 'hourly_demand.xlsx',
 'iSYE 6202 & 6335 2025 Casework 3 FaMoaSa  Facility Design - Tables and Basic Layouts (1).xlsx',
 'ISyE 6202 & 6335 Casework 3 FeMoaSa Facility Organization Testbed Fall 2025.pdf',
 'Jedi',
 'Links',
 'Local Settings',
 'map_nestle_mccain.ipynb',
 'market_demand.xlsx',
 'McCain_Canada.xlsx',
 'McCain_USA.xlsx',
 'Microsoft',
 'Model_master.xlsx',
 'Music',
 'My Documents',
 'mymap.html',
 'Nestle Canada.xlsx',
 'Nestle USA_Distribution center.xlsx',
 'Nestle USA_Mfg Facility.xlsx',
 'NetHood',
 'network_monitoring.py',
 'network_monitoring_ajay.ipynb',
 'ne_10m_admin_0_countries.geojson',
 'ne_10m_admin_0_countries.shp',
 'ne_10m_admin_0_countries.shx',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{1724ce2d-838e-11f0-86dd-fcf60313f95a}.TxR.0.regtrans-ms',
 'NTUSER.DAT{1724ce2d-838e-11f0-86dd-fcf60313f95a}.TxR.1.regtrans-ms',
 'NTUSER.DAT{1724ce2d-838e-11f0-86dd-fcf60313f95a}.TxR.2.regtrans-ms',
 'NTUSER.DAT{1724ce2d-838e-11f0-86dd-fcf60313f95a}.TxR.blf',
 'NTUSER.DAT{1724ce2e-838e-11f0-86dd-fcf60313f95a}.TM.blf',
 'NTUSER.DAT{1724ce2e-838e-11f0-86dd-fcf60313f95a}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{1724ce2e-838e-11f0-86dd-fcf60313f95a}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'OneDrive - Georgia Institute of Technology',
 'OneDriveCloudTemp',
 'Parts Specs.xlsx',
 'PrintHood',
 'problem3.ipynb',
 'Process_Times_FaMoaSa.xlsx',
 'PSAppDeployToolkit',
 'question 5_ISYE 6334.ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'task 3c.ipynb',
 'Task1.ipynb',
 'Task2 (1).ipynb',
 'Task2_prep.ipynb',
 'task5_plot1_15_fc.png',
 'task5_plot2_15_fc.png',
 'task5_plot3_15_fc.png',
 'task5_plot4_15_fc.png',
 'task6_plot1_profit_comparison.png',
 'task6_plot2_opt_heatmap.png',
 'task6_plot3_zone_improvement.png',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'usa_demand.xlsx',
 'usa_map.html',
 'usa_map_panel.html',
 'Videos']

In [6]:
import pandas as pd

metro_pop = pd.read_excel("Metro cities_Population.xlsx")
metro_pop.head()

,Countries,Metropolitan cities,Pop_2026,Growth rate,1+g,Pop_2027,Pop_2028,Pop_2029,Pop_2030,Pop_2031,Pop_2032,Pop_2033,Pop_2034
0,Belgium,Brussels,2150320,0.0041,1.0041,2.159136e+06,2.167989e+06,2.176878e+06,2.185803e+06,2.194765e+06,2.203763e+06,2.212798e+06,2.221871e+06
1,Belgium,Antwerp,1068660,0.0036,1.0036,1.072507e+06,1.076368e+06,1.080243e+06,1.084132e+06,1.088035e+06,1.091952e+06,1.095883e+06,1.099828e+06
2,Belgium,Liege,690769,0.0032,1.0032,6.929795e+05,6.951970e+05,6.974216e+05,6.996534e+05,7.018923e+05,7.041383e+05,7.063916e+05,7.086520e+05
3,Belgium,Gent,480931,0.0040,1.0040,4.828547e+05,4.847861e+05,4.867253e+05,4.886722e+05,4.906269e+05,4.925894e+05,4.945597e+05,4.965380e+05
4,Belgium,Charleroi,420510,0.0030,1.0030,4.217715e+05,4.230368e+05,4.243060e+05,4.255789e+05,4.268556e+05,4.281362e+05,4.294206e+05,4.307088e+05

In [7]:
adoption_table = pd.DataFrame({
    "MarketYear": [0,1,2,3,4,5,6,7,8],
    "AdoptionRate": [0,0.00025,0.00045,0.00055,0.00060,0.00065,0.00070,0.00075,0.00080]
})

In [8]:
metro_pop.columns

Index(['Countries', 'Metropolitan cities', 'Pop_2026', 'Growth rate', '1+g',
       'Pop_2027', 'Pop_2028', 'Pop_2029', 'Pop_2030', 'Pop_2031', 'Pop_2032',
       'Pop_2033', 'Pop_2034'],
      dtype='object')

In [9]:
entry_year_map = {
    "Belgium": 2027,
    "Germany": 2027,
    "Luxembourg": 2027,
    "Netherlands": 2027,
    "Denmark": 2028,
    "Estonia": 2028,
    "Finland": 2028,
    "Latvia": 2028,
    "Lithuania": 2028,
    "Norway": 2028,
    "Poland": 2028,
    "Sweden": 2028,
    "Austria": 2029,
    "France": 2029,
    "Ireland": 2029,
    "Italy": 2029,
    "Portugal": 2029,
    "Spain": 2029,
    "Switzerland": 2029,
    "Bulgaria": 2030,
    "Croatia": 2030,
    "Cyprus": 2030,
    "Czech Republic": 2030,
    "Greece": 2030,
    "Hungary": 2030,
    "Malta": 2030,
    "Romania": 2030,
    "Slovakia": 2030,
    "Slovenia": 2030
}

In [10]:
metro_pop["Entry_Year"] = metro_pop["Countries"].map(entry_year_map)

In [11]:
metro_pop

,Countries,Metropolitan cities,Pop_2026,Growth rate,1+g,Pop_2027,Pop_2028,Pop_2029,Pop_2030,Pop_2031,Pop_2032,Pop_2033,Pop_2034,Entry_Year
0,Belgium,Brussels,2150320,0.0041,1.0041,2.159136e+06,2.167989e+06,2.176878e+06,2.185803e+06,2.194765e+06,2.203763e+06,2.212798e+06,2.221871e+06,2027
1,Belgium,Antwerp,1068660,0.0036,1.0036,1.072507e+06,1.076368e+06,1.080243e+06,1.084132e+06,1.088035e+06,1.091952e+06,1.095883e+06,1.099828e+06,2027
2,Belgium,Liege,690769,0.0032,1.0032,6.929795e+05,6.951970e+05,6.974216e+05,6.996534e+05,7.018923e+05,7.041383e+05,7.063916e+05,7.086520e+05,2027
3,Belgium,Gent,480931,0.0040,1.0040,4.828547e+05,4.847861e+05,4.867253e+05,4.886722e+05,4.906269e+05,4.925894e+05,4.945597e+05,4.965380e+05,2027
4,Belgium,Charleroi,420510,0.0030,1.0030,4.217715e+05,4.230368e+05,4.243060e+05,4.255789e+05,4.268556e+05,4.281362e+05,4.294206e+05,4.307088e+05,2027
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,Malta,Valletta,6019,0.0031,1.0031,6.037659e+03,6.056376e+03,6.075150e+03,6.093983e+03,6.112875e+03,6.131825e+03,6.150833e+03,6.169901e+03,2030
269,Slovakia,Bratislava,444962,0.0029,1.0029,4.462524e+05,4.475465e+05,4.488444e+05,4.501461e+05,4.514515e+05,4.527607e+05,4.540737e+05,4.553905e+05,2030
270,Slovakia,Kosice,236563,-0.0059,0.9941,2.351673e+05,2.337798e+05,2.324005e+05,2.310293e+05,2.296663e+05,2.283112e+05,2.269642e+05,2.256251e+05,2030
271,Slovenia,Ljubljana,272220,0.0048,1.0048,2.735267e+05,2.748396e+05,2.761588e+05,2.774844e+05,2.788163e+05,2.801546e+05,2.814994e+05,2.828506e+05,2030
272,Luxembourg,Luxembourg,76684,0.0305,1.0305,7.902286e+04,8.143306e+04,8.391677e+04,8.647623e+04,8.911375e+04,9.183172e+04,9.463259e+04,9.751889e+04,2027

In [12]:
pop_cols = [col for col in metro_pop.columns
            if col.startswith("Pop_20") and int(col[-4:]) >= 2027]

print(pop_cols)

['Pop_2027', 'Pop_2028', 'Pop_2029', 'Pop_2030', 'Pop_2031', 'Pop_2032', 'Pop_2033', 'Pop_2034']

In [13]:
pop_long = metro_pop.melt(
    id_vars=["Countries", "Metropolitan cities", "Entry_Year"],
    value_vars=pop_cols,
    var_name="Year",
    value_name="Population"
)

In [14]:
pop_long["Year"] = pop_long["Year"].str.extract(r"(\d+)").astype(int)

In [15]:
pop_long["MarketYear"] = (
    pop_long["Year"] - pop_long["Entry_Year"] + 1
)

In [16]:
pop_long = pop_long[pop_long["MarketYear"] >= 1]

In [17]:
print(pop_long["Year"].min())
print(pop_long["MarketYear"].min())
print(pop_long["MarketYear"].max())

2027
1
8

In [18]:
adoption_curve = pd.DataFrame({
    "MarketYear": [1,2,3,4,5,6,7,8],
    "AdoptionRate": [0.00025,0.00045,0.00055,0.00060,0.00065,0.00070,0.00075,0.00080]
})

In [19]:
pop_long = pop_long.merge(adoption_curve, on="MarketYear", how="left")

In [20]:
pop_long.head()

,Countries,Metropolitan cities,Entry_Year,Year,Population,MarketYear,AdoptionRate
0,Belgium,Brussels,2027,2027,2.159136e+06,1,0.00025
1,Belgium,Antwerp,2027,2027,1.072507e+06,1,0.00025
2,Belgium,Liege,2027,2027,6.929795e+05,1,0.00025
3,Belgium,Gent,2027,2027,4.828547e+05,1,0.00025
4,Belgium,Charleroi,2027,2027,4.217715e+05,1,0.00025

In [21]:
pop_long["Total_Units"] = (
    pop_long["Population"] * pop_long["AdoptionRate"]
).round(0)

In [22]:
pop_long.head()

,Countries,Metropolitan cities,Entry_Year,Year,Population,MarketYear,AdoptionRate,Total_Units
0,Belgium,Brussels,2027,2027,2.159136e+06,1,0.00025,540.0
1,Belgium,Antwerp,2027,2027,1.072507e+06,1,0.00025,268.0
2,Belgium,Liege,2027,2027,6.929795e+05,1,0.00025,173.0
3,Belgium,Gent,2027,2027,4.828547e+05,1,0.00025,121.0
4,Belgium,Charleroi,2027,2027,4.217715e+05,1,0.00025,105.0

In [23]:
pop_long.to_excel("Task1_2_Metro_TotalUnits.xlsx", index=False)

In [24]:
weighted_price = 453.6

In [25]:
pop_long["Revenue_Total"] = (
    pop_long["Total_Units"] * weighted_price
)

In [26]:
pop_long

,Countries,Metropolitan cities,Entry_Year,Year,Population,MarketYear,AdoptionRate,Total_Units,Revenue_Total
0,Belgium,Brussels,2027,2027,2.159136e+06,1,0.00025,540.0,244944.0
1,Belgium,Antwerp,2027,2027,1.072507e+06,1,0.00025,268.0,121564.8
2,Belgium,Liege,2027,2027,6.929795e+05,1,0.00025,173.0,78472.8
3,Belgium,Gent,2027,2027,4.828547e+05,1,0.00025,121.0,54885.6
4,Belgium,Charleroi,2027,2027,4.217715e+05,1,0.00025,105.0,47628.0
...,...,...,...,...,...,...,...,...,...
1781,Malta,Valletta,2030,2034,6.169901e+03,5,0.00065,4.0,1814.4
1782,Slovakia,Bratislava,2030,2034,4.553905e+05,5,0.00065,296.0,134265.6
1783,Slovakia,Kosice,2030,2034,2.256251e+05,5,0.00065,147.0,66679.2
1784,Slovenia,Ljubljana,2030,2034,2.828506e+05,5,0.00065,184.0,83462.4
1785,Luxembourg,Luxembourg,2027,2034,9.751889e+04,8,0.00080,78.0,35380.8

In [27]:
import pandas as pd

model_master = pd.read_excel("Model_master.xlsx")
model_master.head()

  Model  Share(MP)  Price_EUR
0   F10       0.17        360
1   K10       0.13        360
2   S10       0.10        360
3   W10       0.09        360
4   F20       0.08        480

In [28]:
model_master = model_master.rename(columns={
    "Share(MP)": "Share_MP",
    "Price_EUR": "Price_EUR"
})

In [29]:
pop_long["key"] = 1
model_master["key"] = 1

metro_sku = pop_long.merge(model_master, on="key").drop("key", axis=1)

In [30]:
metro_sku.shape
metro_sku.head(10)

,Countries,Metropolitan cities,Entry_Year,Year,Population,MarketYear,AdoptionRate,Total_Units,Revenue_Total,Model,Share_MP,Price_EUR
0,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,F10,0.17,360
1,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,K10,0.13,360
2,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,S10,0.10,360
3,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,W10,0.09,360
4,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,F20,0.08,480
5,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,K20,0.06,480
6,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,L20,0.05,480
7,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,S20,0.05,480
8,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,W20,0.04,480
9,Belgium,Brussels,2027,2027,2159136.312,1,0.00025,540.0,244944.0,X20,0.04,480

In [32]:
metro_sku["Units_Model"] = (
    metro_sku["Total_Units"] * metro_sku["Share_MP"]
).round(0)

In [34]:
def fix_rounding(group):
    total_units = group["Total_Units"].iloc[0]
    diff = total_units - group["Units_Model"].sum()

    # Add/subtract diff to the largest-share model (usually F10)
    idx = group["Share_MP"].idxmax()
    group.loc[idx, "Units_Model"] += diff
    return group

metro_sku = metro_sku.groupby(
    ["Countries", "Metropolitan cities", "Year"],
    group_keys=False
).apply(fix_rounding)

C:\Users\schaubey8\AppData\Local\Temp\ipykernel_28420\3067051607.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ).apply(fix_rounding)

In [35]:
check = metro_sku.groupby(["Countries","Metropolitan cities","Year"]).agg(
    TotalUnits=("Total_Units","first"),
    SumSKU=("Units_Model","sum")
)
(check["TotalUnits"] - check["SumSKU"]).value_counts().head()

0.0    1786
Name: count, dtype: int64

In [36]:
metro_sku["Revenue_Model"] = metro_sku["Units_Model"] * metro_sku["Price_EUR"]

In [37]:
metro_total_rev = metro_sku.groupby(
    ["Countries", "Metropolitan cities", "Year"],
    as_index=False
)["Revenue_Model"].sum().rename(columns={"Revenue_Model":"Revenue_Total"})

In [38]:
metro_sku.to_excel("Task1_2_Metro_SKU_Units_Revenue.xlsx", index=False)

In [39]:
with pd.ExcelWriter("Task1_2_Metro_Output.xlsx", engine="openpyxl") as writer:
    pop_long.to_excel(writer, sheet_name="Metro_TotalUnits", index=False)
    metro_sku.to_excel(writer, sheet_name="Metro_SKU", index=False)
    metro_total_rev.to_excel(writer, sheet_name="Metro_TotalRevenue", index=False)

In [41]:
import pandas as pd

nonmetro = pd.read_excel(r"Non-Metro_pop.xlsx")
nonmetro.head()
nonmetro.columns

Index(['Countries', 'Non-metro cities Pop_2026', 'Growth rate', '1+g',
       'Pop_2027', 'Pop_2028', 'Pop_2029', 'Pop_2030', 'Pop_2031', 'Pop_2032',
       'Pop_2033', 'Pop_2034'],
      dtype='object')

In [42]:
# pick population columns (only 2027-2034)
pop_cols = [c for c in nonmetro.columns if c.startswith("Pop_20") and int(c[-4:]) >= 2027]

nonmetro_long = nonmetro.melt(
    id_vars=["Countries"],   # change to "Country" if needed
    value_vars=pop_cols,
    var_name="Year",
    value_name="Population"
)

# Year becomes integer
nonmetro_long["Year"] = nonmetro_long["Year"].str.extract(r"(\d+)").astype(int)

nonmetro_long.head()

     Countries  Year    Population
0      Belgium  2027  6.973159e+06
1      Germany  2027  5.851817e+07
2  Netherlands  2027  1.389018e+07
3      Denmark  2027  4.391606e+06
4      Estonia  2027  8.637980e+05

In [43]:
entry_year_map = {
    "Belgium": 2027, "Germany": 2027, "Luxembourg": 2027, "Netherlands": 2027,
    "Denmark": 2028, "Estonia": 2028, "Finland": 2028, "Latvia": 2028, "Lithuania": 2028,
    "Norway": 2028, "Poland": 2028, "Sweden": 2028,
    "Austria": 2029, "France": 2029, "Ireland": 2029, "Italy": 2029, "Portugal": 2029,
    "Spain": 2029, "Switzerland": 2029,
    "Bulgaria": 2030, "Croatia": 2030, "Cyprus": 2030, "Czech Republic": 2030,
    "Greece": 2030, "Hungary": 2030, "Malta": 2030, "Romania": 2030,
    "Slovakia": 2030, "Slovenia": 2030
}

nonmetro_long["Entry_Year"] = nonmetro_long["Countries"].map(entry_year_map)

In [44]:
# MarketYear: 1,2,3,... after entry (clip before entry to 0)
nonmetro_long["MarketYear"] = (nonmetro_long["Year"] - nonmetro_long["Entry_Year"] + 1).clip(lower=0)

def adoption_mp(market_year):
    if market_year <= 0:
        return 0.0
    if market_year == 1:
        return 0.00025
    if market_year == 2:
        return 0.00045
    if market_year == 3:
        return 0.00055
    # year 4+ grows by 0.00005 each year starting from 0.00060
    return 0.00060 + (market_year - 4) * 0.00005

nonmetro_long["AdoptionRate"] = nonmetro_long["MarketYear"].apply(adoption_mp)

In [45]:
nonmetro_long["Total_Units"] = (nonmetro_long["Population"] * nonmetro_long["AdoptionRate"]).round(0)

In [46]:
model_master = pd.read_excel("Model_master.xlsx")  # same file you used earlier
# must include: Model, Share_MP (or Share(MP)), Price_EUR

# If needed: normalize column names
model_master = model_master.rename(columns={"Share(MP)": "Share_MP"})

In [47]:
nonmetro_long["key"] = 1
model_master["key"] = 1

nonmetro_sku = nonmetro_long.merge(model_master, on="key").drop("key", axis=1)

In [48]:
nonmetro_sku["Units_Model"] = (nonmetro_sku["Total_Units"] * nonmetro_sku["Share_MP"]).round(0)

def fix_rounding(group):
    total_units = group["Total_Units"].iloc[0]
    diff = total_units - group["Units_Model"].sum()
    idx = group["Share_MP"].idxmax()   # adjust largest share model
    group.loc[idx, "Units_Model"] += diff
    return group

nonmetro_sku = nonmetro_sku.groupby(["Countries","Year"], group_keys=False).apply(fix_rounding)

C:\Users\schaubey8\AppData\Local\Temp\ipykernel_28420\2967485577.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  nonmetro_sku = nonmetro_sku.groupby(["Countries","Year"], group_keys=False).apply(fix_rounding)

In [49]:
check = nonmetro_sku.groupby(["Countries","Year"]).agg(
    Total=("Total_Units","first"),
    SumSKU=("Units_Model","sum")
)
(check["Total"] - check["SumSKU"]).value_counts().head()

0.0    232
Name: count, dtype: int64

In [50]:
nonmetro_sku["Revenue_Model"] = nonmetro_sku["Units_Model"] * nonmetro_sku["Price_EUR"]

nonmetro_total_rev = nonmetro_sku.groupby(["Countries","Year"], as_index=False)["Revenue_Model"].sum()
nonmetro_total_rev = nonmetro_total_rev.rename(columns={"Revenue_Model":"Revenue_Total"})

In [51]:
with pd.ExcelWriter("Task1_2_NonMetro_Output.xlsx", engine="openpyxl") as writer:
    nonmetro_long.to_excel(writer, sheet_name="NonMetro_TotalUnits", index=False)
    nonmetro_sku.to_excel(writer, sheet_name="NonMetro_SKU", index=False)
    nonmetro_total_rev.to_excel(writer, sheet_name="NonMetro_TotalRevenue", index=False)